{{ define "card"}}
<div class="card {{ if AllOk . }} teal {{ else }} red {{ end }} darken-2">
  <div class="card-content white-text">
    <ol>
      {{ range $idx, $el := .Values}}
        <li class="{{if eq $el 0}} hide {{end}}">
          <span class="dot {{if eq $el 1 }} green accent-3 {{ else if eq $el 2 }} red pulse accent-1 {{end}}">dot</span>
        </li>
      {{ end }}
    </ol>
    {{ if AllOk . }}
      <span class="card-title">{{.Name}}</span>
    {{ else }}
      <span class="card-title activator white-text text-darken-4">{{.Name}}</span>
    {{ end }}
    <p> {{.Description }}</p>
  </div>
  <div class="card-reveal red lighten-4">
    <span class="card-title black-text text-darken-4"><i class="material-icons medium right">close</i></span>
    <p>{{.Description}}</p>
  </div>
</div>
{{end}}