<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="assets/css/main.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="apple-touch-icon" href="//icons.iconarchive.com/icons/graphicloads/medical-health/256/heart-beat-icon.png" />
  <link rel="apple-touch-icon-precomposed" href="//icons.iconarchive.com/icons/graphicloads/medical-health/256/heart-beat-icon.png" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <title>Gerty</title>
</head>

<body class="blue-grey darken-4">
  <div id='content'></div>
</body>

<script src="/assets/js/compiled/cards.js"></script>
<script src="/assets/js/compiled/dashboard.js"></script>
</html>